* {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100dvh;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: linear-gradient(
		180deg,
		rgba(169, 159, 195, 1) 0%,
		rgba(216, 209, 226, 1) 100%
	);
}

.container {
	width: 100%;
	max-width: 500px;
	min-height: 100dvh;
	padding: 50px 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
}

.footer-link {
	margin-top: auto;
}

.logo {
	width: 160px;
	object-fit: cover;
}

.title {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #2e1563;
}

.info-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
}

.controls-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.select-control {
	font-size: 16px;
	width: 100px;
	padding: 5px;
	background-color: #d8d1e2;
	border: 1px solid #775e9d;
	color: #2e1563;
}

.swap-btn {
	width: 70px;
	height: 50px;
	background-color: #d8d1e2;
	border: none;
	border-radius: 5px;
	img {
		height: 40px;
	}
	&:hover {
		outline: 1px solid #775e9d;
	}
	&:active {
		box-shadow: 0 0 7px 3px #775e9d;
	}
}

.data-compare-info {
	color: #2e1563;
}

.input-control {
	width: 100%;
	font-size: 16px;
	height: 30px;
	padding: 7px;
	background-color: #d8d1e2;
	border: none;
	outline: none;
	&:focus {
		box-shadow: 0 0 7px 3px #775e9d;
	}
}
